.sponsorlar-section {
  padding: 20px 60px; /* navbar altına yakın */
  background-color: #f8f9fa;
  text-align: left;
  
}

.sponsorlar-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #000;
}

.sponsorlar-intro,
.sponsorlar-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}

.sponsorlar-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sponsorlar-list {
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #333;
}

/* Sponsor logosu grid */
.sponsorlar-grid-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.sponsor-logo-wrapper {
  flex-basis: 150px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-logo-wrapper:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.sponsorlar-image {
  width: 100%;
  max-width: 150px;
  height: 100%;
  object-fit: contain;
}

/* Responsive */
@media (max-width: 768px) {
  .sponsorlar-section {
    padding: 20px 20px;
  }
  .sponsorlar-grid-container {
    padding: 30px 15px;
    gap: 15px;
  }
  .sponsor-logo-wrapper {
    flex-basis: 30%;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .sponsorlar-title {
    padding: 0 15px;
  }
  .sponsorlar-grid-container {
    padding: 30px 15px;
  }
  .sponsor-logo-wrapper {
    flex-basis: 40%;
  }
}
