.hakkimizda-section {
  padding: 20px 80px 60px 80px;
  background-color: #f8f9fa;
  text-align: left;
  scroll-margin-top: 20px;
}

.hakkimizda-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000000;
  text-align: left;

}

.hakkimizda-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hakkimizda-card {
  flex: 1 1 300px;
  max-width: 350px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  padding: 20px;
}

.hakkimizda-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hakkimizda-image {
  width: 90%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
}

.hakkimizda-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333333;
}

@media (max-width: 768px) {
  .hakkimizda-section {
    padding: 40px 20px;
  }
}