.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  color: #000000;
  font-size: 1.1em;
}

.navbar-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.navbar-right a:hover {
  text-decoration: underline;
}
