.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  color: #000000;
  font-size: 1.15em;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-right button {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  font-size: 1em;
}

.navbar-right button:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 970px) {
  .menu-icon {
    display: block;
    color: #000;
  }

  .navbar {
    padding: 10px 25px;
  }

  .navbar-right {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-right.active {
    display: flex;
  }

  .navbar-right button {
    margin: 10px 0;
    font-size: 1.05em;
  }
}
